Repository serudda/discord-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: remove quantity prop
  packages/api/src/controllers/card.controller.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: clean code
  packages/api/src/controllers/card.controller.ts
  packages/errorHandler/src/data/es/card.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: add createCardHandler to card controller and router
  .husky/commit-msg
  packages/api/src/controllers/card.controller.ts
  packages/api/src/router/card.ts
  packages/api/src/schema/card.schema.ts
  packages/errorHandler/src/data/es/card.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: add createCardHandler to card controller and router
  apps/bot/src/commands/tcg/create-card.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: adjust rarity probabilities in tcg rarities
  packages/api/src/common/constants/tcg/rarities.ts
  packages/api/src/controllers/card.controller.ts
  packages/api/src/schema/card.schema.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: include a wallet command
  apps/bot/src/commands/tcg/wallet.ts
  packages/api/src/controllers/user.controller.ts
  packages/api/src/router/user.ts
  packages/api/src/schema/user.schema.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: include a buy pack concept command to join 3 images on a bg image
  apps/bot/package.json
  apps/bot/src/commands/tcg/buy-pack-concept.ts
  apps/bot/src/commands/tcg/collection.ts
  packages/api/src/controllers/card.controller.ts
  packages/api/src/router/card.ts
  packages/api/src/schema/card.schema.ts
  packages/errorHandler/src/data/es/card.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: change images
  apps/bot/src/commands/tcg/buy-pack-concept.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: clean code
  apps/bot/src/commands/tcg/buy-pack-concept.ts
  apps/bot/src/utils/index.ts
  apps/bot/src/utils/mergeImages.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: refactor buy-pack command to include card images in the reply
  apps/bot/src/commands/tcg/buy-pack-concept.ts
  apps/bot/src/commands/tcg/buy-pack.ts
  packages/api/src/controllers/card.controller.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: clean code
  apps/bot/src/commands/tcg/buy-pack.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: include a registerUser endpoint
  packages/api/src/controllers/account.controller.ts
  packages/api/src/controllers/card.controller.ts
  packages/api/src/controllers/user.controller.ts
  packages/api/src/schema/user.schema.ts
  packages/errorHandler/src/data/es/account.ts
  packages/errorHandler/src/data/es/common.ts
  packages/errorHandler/src/data/es/index.ts
  packages/errorHandler/src/data/es/user.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: include a new command named "start-game"
  apps/bot/src/commands/tcg/start-game.ts
  packages/api/src/controllers/user.controller.ts
  packages/api/src/router/user.ts
  packages/errorHandler/src/data/es/account.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: include a new command to start-game
  apps/bot/src/commands/tcg/start-game.ts
  packages/api/src/controllers/user.controller.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: clean code
  apps/bot/src/commands/tcg/start-game.ts
Due: prettier --write --ignore-unknown, eslint --fix

Update README.md
  README.md
Due: none

chore(tooling): 🔧 update TypeScript base config with optimized settings
  tooling/typescript-config/base.json
  tooling/typescript-config/bot.json
  tooling/typescript-config/package.json
  tooling/typescript-config/react-library.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(api, db, errorHandler): 🔧 update TypeScript config to use shared base config
  packages/api/package.json
  packages/api/tsconfig.json
  packages/db/package.json
  packages/db/tsconfig.json
  packages/errorHandler/package.json
  packages/errorHandler/tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(bot): 🔧 update package.json to replace ts-node with tsx for dev script
  apps/bot/package.json
  apps/bot/tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore: 🔧 update pnpm-lock
  pnpm-lock.yaml
Due: none

refactor: 👽️ update api, and tsconfig
  apps/bot/package.json
  apps/bot/src/api/index.ts
  apps/bot/src/common/types/client.ts
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/tsconfig.json
  packages/db/tsconfig.json
  packages/errorHandler/tsconfig.json
  tooling/typescript-config/internal-package.json
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(eslint-config): 🔧 update tooling and add TypeScript configuration
  tooling/eslint-config/package.json
  tooling/eslint-config/src/astro.mjs
  tooling/eslint-config/src/base.js
  tooling/eslint-config/src/base.mjs
  tooling/eslint-config/src/index.d.ts
  tooling/eslint-config/src/nextjs.js
  tooling/eslint-config/src/react.js
  tooling/eslint-config/tsconfig.json
  tooling/eslint-config/types.d.ts
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(tailwind-preset): 🔧 migrate Tailwind config from JS to TS
  tooling/tailwind-preset/package.json
  tooling/tailwind-preset/src/tailwind.config.ts
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat(nextjs): ✨ add initial Next.js app setup with package configuration
  apps/nextjs/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(nextjs): 🔧 add basic config for Tailwind, PostCSS, TypeScript, and ESLint
  apps/nextjs/README.md
  apps/nextjs/eslint.config.mjs
  apps/nextjs/next-env.d.ts
  apps/nextjs/next.config.mjs
  apps/nextjs/postcss.config.js
  apps/nextjs/tailwind.config.mjs
  apps/nextjs/tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix

chore(nextjs): 🗂️ add basic folder structure for project organization
  apps/nextjs/public/favicon.ico
  apps/nextjs/public/indie-creators-hq-logo.svg
  apps/nextjs/src/common/constants/errors.ts
  apps/nextjs/src/common/constants/index.ts
  apps/nextjs/src/common/constants/inputs.ts
  apps/nextjs/src/common/contexts/ExampleContext.tsx
  apps/nextjs/src/common/contexts/index.ts
  apps/nextjs/src/common/hooks/index.ts
  apps/nextjs/src/common/hooks/useExample.ts
  apps/nextjs/src/common/index.ts
  apps/nextjs/src/common/types/index.ts
  apps/nextjs/src/common/types/input.ts
  apps/nextjs/src/common/types/subscription.ts
  apps/nextjs/src/common/utils/helpers.ts
  apps/nextjs/src/common/utils/index.ts
  apps/nextjs/src/components/Avatar/Avatar.tsx
  apps/nextjs/src/components/Icon/Icon.tsx
  apps/nextjs/src/components/index.ts
  apps/nextjs/src/pages/_app.tsx
  apps/nextjs/src/pages/_document.tsx
  apps/nextjs/src/pages/index.tsx
  apps/nextjs/src/styles/globals.css
Due: prettier --write --ignore-unknown, eslint --fix

feat(trpc): ✨ integrate tRPC API handlers and webhooks for Next.js app
  apps/nextjs/src/pages/api/trpc/[trpc].ts
  apps/nextjs/src/pages/api/webhooks/lemon-squeezy/payment.ts
  apps/nextjs/src/utils/api.ts
  turbo.json
Due: prettier --write --ignore-unknown, eslint --fix

chore(env): 🔧 add environment variable schema validation with zod
  apps/nextjs/src/env.mjs
Due: none

chore: 🙈 update gitignore add .next folder
  .gitignore
Due: none

chore(api): 🔧 update API server with CORS middleware
  packages/api/src/index.ts
  packages/api/src/trpc.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: 🔒️ deprecated astro files for now
  apps/web/package.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(lint): 🔧 update lint-staged config with app-specific ESLint settings
  .lintstagedrc
Due: none

chore(config): 🔧 update bot and Next.js configuration files
  apps/bot/package.json
  tooling/eslint-config/src/nextjs.js
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore: ⬆️ update pnpm-lock
  pnpm-lock.yaml
Due: none

feat(cards): ✨ add basic card component with animations
  apps/nextjs/src/pages/_app.tsx
  apps/nextjs/src/pages/index.tsx
  apps/nextjs/src/styles/animations/card-animations.css
Due: prettier --write --ignore-unknown, eslint --fix

feat: 💄 add container utility class
  apps/nextjs/src/pages/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: ➕ add prettier eslint config dependency
  apps/bot/eslint.config.mjs
  apps/bot/package.json
  apps/nextjs/eslint.config.mjs
  apps/nextjs/package.json
  pnpm-lock.yaml
  tooling/eslint-config/src/base.js
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

style: 💄 update with eslint:fix
  apps/bot/src/commands/hello.ts
  apps/bot/src/commands/ping.ts
  apps/bot/src/commands/tcg/add-coins.ts
  apps/bot/src/commands/tcg/buy-pack.ts
  apps/bot/src/commands/tcg/collection.ts
  apps/bot/src/commands/tcg/create-card.ts
  apps/bot/src/commands/tcg/set-coins.ts
  apps/bot/src/commands/tcg/start-game.ts
  apps/bot/src/commands/tcg/wallet.ts
  apps/bot/src/common/types/client.ts
  apps/bot/src/common/types/command.ts
  apps/bot/src/deploy-commands.ts
  apps/bot/src/events/interactionCreate/button.ts
  apps/bot/src/events/interactionCreate/command.ts
  apps/bot/src/events/interactionCreate/dropdowns.ts
  apps/bot/src/events/interactionCreate/modal.ts
  apps/bot/src/events/ready.ts
  apps/bot/src/index.ts
  apps/bot/src/utils/getComponent.ts
  apps/bot/src/utils/getFilesRecursively.ts
  apps/bot/src/utils/loadCommands.ts
  apps/bot/src/utils/loadEvents.ts
  apps/nextjs/src/utils/api.ts
  packages/api/src/common/types/trpcRouter.ts
  packages/api/src/controllers/card.controller.ts
  packages/api/src/controllers/lemonSqueezy.controller.ts
  packages/api/src/controllers/user.controller.ts
Due: prettier --write --ignore-unknown, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: ((any of: apps/**/*.{js,ts,jsx,tsx,json}) or (any of: packages/**/*.{js,ts,jsx,tsx,json})) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  eslint --fix: ((any of: apps/**/*.{js,ts,jsx,tsx,json}) or (any of: packages/**/*.{js,ts,jsx,tsx,json})) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  manypkg fix: any of: package.json
