Repository serudda/discord-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "packages/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

chore: 🔧 update path
  packages/api/src/schema/subscription.schema.ts
  packages/api/src/schema/subscriptionPlan.schema.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: add new Guild rule
  apps/bot/src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: register commands on Discord
  apps/bot/package.json
  apps/bot/src/commands/commandDispatcher.ts
  apps/bot/src/commands/hello.ts
  apps/bot/src/commands/ping.ts
  apps/bot/src/common/index.ts
  apps/bot/src/common/types/command.ts
  apps/bot/src/common/types/index.ts
  apps/bot/src/events/onMessage.ts
  apps/bot/src/events/onReady.ts
  apps/bot/src/index.ts
  apps/bot/src/utils/registerCommands.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: clean code and split interactions by component
  apps/bot/src/common/types/client.ts
  apps/bot/src/common/types/component.ts
  apps/bot/src/common/types/index.ts
  apps/bot/src/index.ts
  apps/bot/src/interactions/buttonInteraction.ts
  apps/bot/src/interactions/commandInteraction.ts
  apps/bot/src/interactions/dropdownInteraction.ts
  apps/bot/src/interactions/index.ts
  apps/bot/src/interactions/modalInteraction.ts
  apps/bot/src/utils/getComponent.ts
  apps/bot/src/utils/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore(eslint-config): 🔧 rename `.eslintrc.js` to `eslint.config.mjs`
  .eslintrc.js
  apps/bot/package.json
  apps/web/.eslintrc.js
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/env.d.ts
  apps/web/tsconfig.json
  eslint.config.mjs
  package.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(eslint-config): 🔧 migrate ESLint config and update to v9.11.1
  tooling/eslint-config/index.js
  tooling/eslint-config/package.json
  tooling/eslint-config/src/astro.mjs
  tooling/eslint-config/src/base.mjs
  tooling/eslint-config/src/index.d.ts
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(packages): pass manypkg
  apps/bot/package.json
  apps/web/package.json
  package.json
  packages/api/package.json
  tooling/eslint-config/package.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore(prettier): 🔧 update Prettier config and add Astro support
  prettier.config.mjs
Due: none

chore(tsconfig): 🔧 update `tsconfig.json` with typeRoots and ESLint config inclusion
  tsconfig.json
Due: none

chore: 🎨 format and disable no prototype-builins
  packages/api/src/common/utils/functions.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: ✨ add husky
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(vscode): 🔧 update VSCode settings for file nesting and formatting
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat(tooling): ✨ add `@discord-bot/tailwind-preset` package for shared TailwindCSS config
  tooling/tailwind-preset/package.json
  tooling/tailwind-preset/src/tailwind-config.d.ts
  tooling/tailwind-preset/src/tailwind.config.js
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore: 🔧 update pnpm lock
  pnpm-lock.yaml
Due: none

fix: 🐛 fix typo
  tooling/eslint-config/src/base.mjs
Due: none

refactor: clean code a move deploy-commands logic to a external file
  apps/bot/package.json
  apps/bot/src/deploy-commands.ts
  apps/bot/src/events/onReady.ts
  apps/bot/src/utils/index.ts
  apps/bot/src/utils/loadCommands.ts
  package.json
  turbo.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: clean code and include interaction commands
  apps/bot/src/index.ts
  apps/bot/src/interactions/commandInteraction.ts
  apps/bot/src/utils/loadCommands.ts
  apps/bot/src/utils/loadEvents.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: clean code and improve load events dynamically
  apps/bot/src/common/types/client.ts
  apps/bot/src/events/interactionCreate/button.ts
  apps/bot/src/events/interactionCreate/command.ts
  apps/bot/src/events/interactionCreate/dropdowns.ts
  apps/bot/src/events/interactionCreate/modal.ts
  apps/bot/src/events/onMessage.ts
  apps/bot/src/events/onReady.ts
  apps/bot/src/events/ready.ts
  apps/bot/src/index.ts
  apps/bot/src/interactions/buttonInteraction.ts
  apps/bot/src/interactions/commandInteraction.ts
  apps/bot/src/interactions/dropdownInteraction.ts
  apps/bot/src/interactions/index.ts
  apps/bot/src/interactions/modalInteraction.ts
  apps/bot/src/utils/index.ts
  apps/bot/src/utils/loadEvents.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: push first init migration to supabase
  .husky/pre-commit
  package.json
  packages/db/package.json
  packages/db/prisma/migrations/20241005031905_init/migration.sql
  packages/db/prisma/migrations/migration_lock.toml
  packages/db/prisma/schema.prisma
  turbo.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore: update VS Code extensions and Prisma settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: add a migration for card models
  packages/db/prisma/migrations/20241005141258_include_card_models/migration.sql
  packages/db/prisma/schema.prisma
Due: none

refactor: clean code
  apps/bot/src/utils/getComponent.ts
  apps/bot/src/utils/loadCommands.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: include a recursive method to get commands from inner folders
  apps/bot/src/commands/hello.ts
  apps/bot/src/commands/tcg/buy-pack.ts
  apps/bot/src/deploy-commands.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: include recursive method to load commands from inner folders
  apps/bot/src/utils/loadCommands.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: clean code and reused functions
  apps/bot/src/deploy-commands.ts
  apps/bot/src/utils/getFilesRecursively.ts
  apps/bot/src/utils/index.ts
  apps/bot/src/utils/loadCommands.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: include a new endpoint named tcg
  apps/bot/package.json
  apps/bot/src/api/api.ts
  apps/bot/src/commands/tcg/buy-pack.ts
  packages/api/src/controllers/tcg.controller.ts
  packages/api/src/root.ts
  packages/api/src/router/tcg.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: include the buy pack logic on api and commands folders
  apps/bot/src/commands/tcg/buy-pack.ts
  packages/api/src/common/constants/index.ts
  packages/api/src/common/constants/tcg/index.ts
  packages/api/src/common/constants/tcg/rarities.ts
  packages/api/src/common/utils/index.ts
  packages/api/src/common/utils/tcg/getRandomRarity.ts
  packages/api/src/common/utils/tcg/index.ts
  packages/api/src/controllers/card.controller.ts
  packages/api/src/controllers/tcg.controller.ts
  packages/api/src/root.ts
  packages/api/src/router/card.ts
  packages/api/src/router/tcg.ts
  packages/api/src/schema/card.schema.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: fix an error with superjson version
  apps/bot/package.json
  apps/bot/src/api/index.ts
  apps/bot/src/commands/tcg/buy-pack.ts
  apps/bot/tsconfig.json
  packages/api/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: clean code
  apps/bot/src/commands/tcg/buy-pack.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: move index.ts to src
  packages/api/index.ts
  packages/api/src/index.ts
  packages/api/tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix

feat(api): ✨ update package.json with new dependencies and scripts
  packages/api/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

fix(bot): 🐛 update base URL port for dev SSR in API client
  apps/bot/src/api/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore(api): 🔧 update tsconfig.json to set module options and enable noEmit
  packages/api/tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix

feat(api): ✨ add Express server with tRPC and CORS configuration
  packages/api/src/server.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: include a new package to manage error messages
  apps/bot/package.json
  apps/bot/src/commands/tcg/buy-pack.ts
  packages/api/package.json
  packages/api/src/controllers/card.controller.ts
  packages/api/src/controllers/user.controller.ts
  packages/errorHandler/package.json
  packages/errorHandler/src/data/es/card.ts
  packages/errorHandler/src/data/es/common.ts
  packages/errorHandler/src/data/es/index.ts
  packages/errorHandler/src/index.ts
  packages/errorHandler/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: clean the way we handle errors
  apps/bot/src/commands/tcg/buy-pack.ts
  packages/api/src/common/constants/response.ts
  packages/api/src/controllers/card.controller.ts
  packages/api/src/controllers/user.controller.ts
  packages/api/src/router/user.ts
  packages/api/src/schema/card.schema.ts
  packages/api/src/schema/user.schema.ts
  packages/errorHandler/src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat(api): ✨ add giveCoinsHandler to give coins to a user
  apps/bot/src/commands/tcg/give-coins.ts
  packages/api/src/controllers/card.controller.ts
  packages/api/src/router/card.ts
  packages/api/src/schema/card.schema.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: rename give-coins.ts to add-coins.ts and update related code
  apps/bot/src/commands/tcg/add-coins.ts
  apps/bot/src/commands/tcg/set-coins.ts
  packages/api/src/controllers/card.controller.ts
  packages/api/src/router/card.ts
  packages/api/src/schema/card.schema.ts
  packages/errorHandler/src/data/es/card.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: clean code to improve buy packs command process
  apps/bot/src/commands/tcg/add-coins.ts
  apps/bot/src/commands/tcg/buy-pack.ts
  apps/bot/src/commands/tcg/set-coins.ts
  packages/api/src/controllers/card.controller.ts
  packages/errorHandler/src/data/es/card.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: remove quantity properties from cards and user_cards tables
  packages/db/prisma/migrations/20241008030109_remove_quantity_prop_on_cards/migration.sql
  packages/db/prisma/schema.prisma
Due: none
